*{
	padding: 0;
	margin: 0;
	font-family: Helvetica-Light, sans-serif;
}

a{
	text-decoration: none;
}
@media (min-width: 800px){

body{
	background: #fff;
}

h3,h4{
	color: #709f8c;
	font-size: 27pt;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	font-family: Helvetica-Light, sans-serif;
}


.container{
	float: left;
	width: 50%;
	height: 100%;
	box-shadow: 2px 2px 15px #1a1a1a;
}

.logo{
	margin: 8%;
		text-align: center;

}

p, label{
	color: #709f8c;
	font-size: 16pt;
		text-align: center;

}

p{
	margin-bottom: 5%;
}

label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 20px;
}

input[type=radio],
input[type=checkbox] {
	display: none;
}
label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height:20px;
	margin-right: 20px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: none;
	border: 1px solid #709f8c;
}

.checkbox label {
	margin-bottom: 10px;
}
.checkbox label:before {
    border-radius: 3px;
}

.checkbox{
	margin-left: 40%;
}

input[type=radio]:checked + label:before {
	background: #709f8c;
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
    line-height: 15px;
}

div.botao{
	border: 1px solid #709f8c;
	width: 15%;
	margin: auto auto;
	margin-top: 8%;
}



div.botao:hover{
	background: #709f8c;
	transition: 0.4s;
}

.botao p{
	padding: 10px;
	color: #709f8c;
	font-size: 15pt;
	text-align: center;
}

.botao p:hover{
	color: #fff;
}


input[type=number]{
	border: 1px solid #709f8c;
	height: 30px;
	margin-left: 36%;
	padding: 5px;
}
.card{
	float: right;
	margin-top: 15%;
	margin-right: 13%;
}


.subscribe{
	background: #99be8b;
	margin: 10% 0 0 10%;
	width: 80%;
	box-shadow: 3px 3px 15px #1a1a1a;
	color: white;
	text-align: center;
}

.subscribe p{
	padding-top: 20px;
	font-size: 14pt;
}

.subscribe input[type=text]{
	background: none;
	border: 1px solid white;
	margin: 2% 0;
	height: 4%;
}

.subscribe input[type=submit]{
	background: #709f8c;
	border: none;
	margin-bottom: 5%;
	color: white;
	padding: 10px;
}
}



@media (max-width: 800px){

body{
	background: #fff;
	overflow: hidden;
}

h3,h4{
	color: #709f8c;
	font-size: 27pt;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	font-family: Helvetica-Light, sans-serif;
}


.container{
	width: 100%;
	height: 100%;

}

.logo{
	margin: 8%;
	margin-top: 20%;
		text-align: center;

}

p, label{
	color: #709f8c;
	font-size: 16pt;
		text-align: center;

}

p{
	margin-bottom: 5%;
}

label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 20px;
}

input[type=radio],
input[type=checkbox] {
	display: none;
}
label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height:20px;
	margin-right: 20px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: none;
	border: 1px solid #709f8c;
}

.checkbox label {
	margin-bottom: 10px;
}
.checkbox label:before {
    border-radius: 3px;
}

.checkbox{
	margin-left: 40%;
}

input[type=radio]:checked + label:before {
	background: #709f8c;
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
    line-height: 15px;
}

div.botao{
	border: 1px solid #709f8c;
	width: 30%;
	margin: auto auto;
	margin-top: 8%;
}





.botao p{
	padding: 10px;
	color: #709f8c;
	font-size: 15pt;
	text-align: center;
}




input[type=number]{
	border: 1px solid #709f8c;
	height: 30px;
	margin-left: 25%;
	padding: 5px;
}
.card{
	display: none;
}


.subscribe{
	background: #99be8b;
	margin: 10% 0 0 10%;
	width: 80%;
	box-shadow: 3px 3px 15px #1a1a1a;
	color: white;
	text-align: center;
}

.subscribe p{
	padding-top: 20px;
	font-size: 14pt;
}

.subscribe input[type=text]{
	background: none;
	border: 1px solid white;
	margin: 2% 0;
	height: 4%;
}

.subscribe input[type=submit]{
	background: #709f8c;
	border: none;
	margin-bottom: 5%;
	color: white;
	padding: 10px;
}
}
